.container.profilePage

  // ブラウザバックアイコン
  .profilePage_site_backer
    = link_to :back do
      %i.fas.fa-arrow-left.fa-3x

  // ユーザー要素
  .profilePage_user
    .profilePage_user_name
      = current_user.name
    .user_icon
      = image_tag current_user.avatar_image, class: 'profilePage_user_image'
    // 投稿数
    // フォロワーの数
    // フォロー数
    // 投稿している画像
    .profilePage_user_actionButton
      - if user == current_user
        = link_to 'プロフィール編集', edit_profile_path(user)
