.post_detail
	.post_body
		.img_zone
			= image_tag @post.image.url
		.postPage_user_name
			%p= post.author_name

		.postPage_user_image
			= image_tag post.user.avatar_image.url
	.card_content
		.card_title
			= post.word
	-#   .card_heart
	-#     = image_tag 'heart.svg'
	-#     %span= article.like_count