@import 'form';
@import 'tabs';
@import 'profile';

a {
    text-decoration: none;
    font-size: 11px;

    color: #CCCCCC;
}

.url_linker{
    position: relative;

    top: 50%;
    left: 75%;
    transform: translate(50%, 50%);
    -webkit-transform: translate(30em, 26em);
    -ms-transform: translate(50%, 50%);

}

.site_backer{
  size: 1000px;
}