@import 'form';
@import 'tabs';

a {
    text-decoration: none;
    font-size: 11px;

    color: #CCCCCC;
}

.url_linker{
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    -webkit-transform: translate(30em, 26em);
    -ms-transform: translate(50%, 50%);

    left: 130%;

}