.form{

    &_body{
        margin-top: 150px;
        margin-left: 10px;
    }

    &_text{
        height: 17px;
        left: 4.27%;
        right: 87.47%;
        top: calc(50% - 17px/2 - 64.5px);
    
        font-family: arial, Verdana, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
    
        color: #979797;
    
        mix-blend-mode: normal;
        opacity: 0.9;
    }

    // ログイン＆クリエイト

    &_box{
        height: 28px;
        width: 100%;
        margin-bottom: 20px;
        transition: all .6s ease;
        
        border-bottom:1px solid #cccccc;
        border-right:none;
        border-left:none;
        border-top:none;
        border-radius:0px; 

        outline: 0;
    }

    &_button{
        position: center;
        width: 60%;
        height: 50px;
        
        transform: translate(50%, 50%);
        -webkit-transform: translate(30%, 0%);
        -ms-transform: translate(50%, 10%);

        margin-top: 5em;
        background: #FFE600;
    }
}
