.firstViewPic {
    position: absolute;
    width: 375px;
    height: 298px;
    left: 0;
    top: 0;
    opacity: 80%;

    background: linear-gradient(0deg, rgba(43, 43, 43, 0.6), rgba(43, 43, 43, 0.6));
}